/* main.less */
@import "fontawesome";
@import "solid";
@import "brands";

body {
	padding: 30px;
  background-color: lightgray;
}

.td-rich-editor {
  width: 600px;
  min-height: 350px;
  background-color: white;
}

.td-edit-textarea {
  padding: 12px;
}

.td-edit-toolbar {
  min-height: 40px;
  border-bottom: solid lightgray 1px;
  i {
    padding: 12px;
    color: gray;
    cursor: pointer;
    .active {
      color: black;
    }
  }
}

.one::after {
  content: "1";
}

.two::after {
  content: "2";
}

.three::after {
  content: "3";
}

.four::after {
  content: "4";
}

.five::after {
  content: "5";
}

.six::after {
  content: "6";
}


